<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<!--header-->
<nav id="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <div class="l-3 p-2 mb-0 bg-dark text-white">
        <a id="emailId" class="font-weight-bold text-white"></a>
        <a> with roles:</a>
        <a id="rolesId"></a>
    </div>
    <a class="btn btn-dark text-white-50 navbar-nav" href="/logout" role="button">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--left panel-->
        <div class="col-2 pt-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </div>
        </div>
        <!--        Admin panel-->
        <div class="col-10 pt-2 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h2>Admin panel</h2>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="profile-tab" data-toggle="tab" href="#newUser"
                               role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="col-12 bg-light border">
                                <h5 class="pl-3 pt-2 pb-2">All users</h5>
                            </div>
                            <!--                            table all users-->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tBodyAllUsersId">
                                </tbody>
                            </table>

                            <!--                            edit modal-->
                            <div class="myForm">
                                <div class="modal fade" id="editModal" data-backdrop="static"
                                     data-keyboard="false" tabindex="-1"
                                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <form id="formEdit">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Edit
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body w-50 p-3"
                                                     style="margin: auto; text-align: center">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="id">ID</label>
                                                        <input type="text" class="form-control"
                                                               id="id" readonly name="id"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="firstName">First
                                                            name</label>
                                                        <input type="text" class="form-control"
                                                               id="firstName"
                                                               placeholder="firstName" name="firstName"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="lastName">
                                                            Surname</label>
                                                        <input type="text" class="form-control"
                                                               id="lastName"
                                                               placeholder="lastName" name="lastName"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="age">Age</label>
                                                        <input type="number" class="form-control"
                                                               id="age"
                                                               placeholder="Age" name="age"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="email">email</label>
                                                        <input type="text" class="form-control"
                                                               id="email"
                                                               placeholder="email" name="email"
                                                               value=""/>
                                                    </div>
                                                    <label class="font-weight-bold"
                                                           for="password">Password</label>
                                                    <input type="password" id="password"
                                                           class="form-control"
                                                           aria-describedby="passwordHelpBlock" name="password"
                                                           autocomplete="off"
                                                           value=""/>
                                                    <div class="form-group">
                                                        <label for="roles"
                                                               class="form-label fw-bold">Roles</label>
                                                        <select multiple class="form-control" id="roles"
                                                                name="roles">
                                                            <option name="roles"/>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                            id="editFormCloseButton">Close
                                                    </button>
                                                    <button type="button" id="edit-user-button"
                                                            class="btn btn-primary">Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--                            delete modal-->
                            <div class="myDeleteForm">
                                <div class="modal fade" id="deleteModal" data-backdrop="static"
                                     data-keyboard="false" tabindex="-1"
                                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <form id="formDelete">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body w-50 p-3"
                                                     style="margin: auto; text-align: center">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dId">ID</label>
                                                        <input type="text" class="form-control"
                                                               id="dId"
                                                               placeholder="id" readonly name="id"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dFirstName">First name
                                                        </label>
                                                        <input type="text" class="form-control"
                                                               id="dFirstName"
                                                               placeholder="firstname" readonly name="firstName"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dLastName">lastName
                                                        </label>
                                                        <input type="text" class="form-control"
                                                               id="dLastName"
                                                               placeholder="lastName" readonly name="lastName"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dAge">Age</label>
                                                        <input type="number" class="form-control"
                                                               id="dAge"
                                                               placeholder="Age" readonly name="age"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dEmail">email</label>
                                                        <input type="email" class="form-control"
                                                               id="dEmail"
                                                               placeholder="email" readonly name="email"
                                                               value=""/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="dRoles">Role</label>
                                                        <select class="custom-select form-control"
                                                                id="dRoles" multiple
                                                                disabled size="2" name="roleList">
                                                            <option name="roles"/>
                                                        </select>
                                                    </div>

                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                            id="deleteFormCloseButton">Close
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                            id="delete-user-button">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!--                        new user-->
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body w-50 p-3" style="margin: auto; text-align: center">
                                    <form id="newUserForm">
                                        <div class="form-group">
                                            <label class="font-weight-bold"
                                                   for="nFirstName">First
                                                name</label>
                                            <input type="text" class="form-control"
                                                   id="nFirstName"
                                                   placeholder="firstName" name="firstName"
                                                   value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold"
                                                   for="nLastName">Last
                                                name</label>
                                            <input type="text" class="form-control"
                                                   id="nLastName"
                                                   placeholder="lastName" name="lastName"
                                                   value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold"
                                                   for="nAge">Age</label>
                                            <input type="number" class="form-control"
                                                   id="nAge"
                                                   placeholder="Age" name="age"
                                                   value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold"
                                                   for="nEmail">email</label>
                                            <input type="text" class="form-control"
                                                   id="nEmail"
                                                   placeholder="email" name="email"
                                                   value=""/>
                                        </div>
                                        <label class="font-weight-bold"
                                               for="nPassword">Password</label>
                                        <input type="password" id="nPassword"
                                               class="form-control"
                                               aria-describedby="passwordHelpBlock" name="password"
                                               autocomplete="off"
                                               value=""/>
                                        <div class="form-group">
                                            <label for="roles"
                                                   class="form-label fw-bold">Roles</label>
                                            <select multiple class="form-control" id="nRoles"
                                                    name="roles" size="2">
                                                <option name="roles"/>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <button type="button" class="btn btn-success" id="addNewUser"
                                                    style="margin: auto">Add new user
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script src="user.js" type="text/javascript"></script>
<script src="list.js" type="text/javascript"></script>
<script src="delete.js" type="text/javascript"></script>
<script src="edit.js" type="text/javascript"></script>
<script src="new.js" type="text/javascript"></script>

</body>
</html>