<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<!--header-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:object="${user}">
    <div class="l-3 p-2 mb-0 bg-dark text-white">
        <a th:text="*{email}" class="font-weight-bold text-white">mail</a>
        <a> with roles:</a>
        <a th:each="role : ${user.getRoles()}">
            <a th:text=" ${role.getShortName()}">ROLE</a>
        </a>
    </div>
    <a class="btn btn-dark text-white-50 navbar-nav" href="/logout" role="button">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 pt-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10 pt-2 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h2>Admin panel</h2>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                               role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="col-12 bg-light border">
                                <h5 class="pl-3 pt-2 pb-2">All users</h5>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}">Id</td>
                                    <td th:text="${user.getFirstName()}">First name</td>
                                    <td th:text="${user.getLastName()}">Last name</td>
                                    <td th:text="${user.getAge()}">Age</td>
                                    <td th:text="${user.getEmail()}">Email</td>
                                    <td>
                                        <a th:each="role : ${user.getRoles()}">
                                            <a th:text=" ${role.getShortName()}">ROLE</a>
                                        </a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                data-target="#edit" th:attrappend="data-target=${user.id}">
                                            Edit
                                        </button>
                                        <div class="modal fade text-center" th:attrappend="id=${user.id}" id="edit"
                                             tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
                                            <form th:action="@{/admin/{id}(id=${user.id})}" th:method="patch">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editTitle">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-center col-12 offset-3 col-md-6 offset-md-3">
                                                            <div class="form-group">
                                                                <label class="font-weight-bold" for="idEdit">ID</label>
                                                                <input id="idEdit" class="form-control" th:name="id"
                                                                       th:value="${user.id}" placeholder="Id" readonly>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="firstNameEdit">First name</label>
                                                                <input id="firstNameEdit" class="form-control"
                                                                       th:name="firstName"
                                                                       th:value="${user.firstName}"
                                                                       placeholder="firstName">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="lastNameEdit">Last name</label>
                                                                <input id="lastNameEdit" class="form-control"
                                                                       th:name="lastName"
                                                                       th:value="${user.lastName}"
                                                                       placeholder="lastName">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="AgeEdit">Age</label>
                                                                <input type="number" id="AgeEdit" class="form-control"
                                                                       th:name="age" th:value="${user.age}"
                                                                       placeholder="Age">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="emailEdit">Email</label>
                                                                <input id="emailEdit" class="form-control"
                                                                       th:name="email" th:value="${user.email}"
                                                                       placeholder="Email">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="passwordEdit">Password</label>
                                                                <input type="password" id="passwordEdit"
                                                                       class="form-control" th:name="password"
                                                                       value=""
                                                                       placeholder="Password">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="rolesEdit">Role</label> <br>
                                                                <select id="rolesEdit" class="form-select" name="roles"
                                                                        multiple size="2">
                                                                    <option th:each="role : ${roles}"
                                                                            th:text="${role.getShortName()}"
                                                                            th:value="${role.getName()}">
                                                                        <th:block th:text="${roles}">
                                                                        </th:block>
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#delete"
                                                th:attrappend="data-target=${user.id}">Delete
                                        </button>
                                        <div class="modal fade" th:attrappend="id=${user.id}" id="delete"
                                             tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="deleteTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteTitle">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center col-12 offset-3 col-md-6 offset-md-3">
                                                        <form>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="id">Id</label>
                                                                <input id="id" class="form-control"
                                                                       th:value="${user.id}"
                                                                       disabled>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="firstName">First
                                                                    name</label>
                                                                <input id="firstName" class="form-control"
                                                                       th:value="${user.firstName}" disabled>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="lastName">Last
                                                                    name</label>
                                                                <input id="lastName" class="form-control"
                                                                       th:value="${user.lastName}" disabled>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="Age">Age</label>
                                                                <input type="number" id="Age" class="form-control"
                                                                       th:value="${user.age}" disabled>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="email">Email</label>
                                                                <input id="email" class="form-control"
                                                                       th:value="${user.email}" disabled>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold"
                                                                       for="roles2">Role</label> <br>
                                                                <select multiple class="form-control"
                                                                        th:size="${roles.size()}" id="roles2"
                                                                        name="roles2" disabled>
                                                                    <option th:each="role : ${roles}"
                                                                            th:text="${role.getShortName()}"
                                                                            th:value="${role.getName()}">
                                                                        <th:block th:text="${roles}">
                                                                        </th:block>
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <form th:action="@{/admin/{id}(id=${user.id})}"
                                                              th:method="delete">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row-cols-auto bg-white ">
                                <div class="col-12 bg-light border">
                                    <h5 class="pl-3 pt-2 pb-2">Add new user</h5>
                                </div>
                                <div class="col-12 pl-3 pr-3 pt-3 pb-3 border">
                                    <form th:action="@{/admin/create_user}" th:object="${user}" method="post">
                                        <div class="text-center col-3 offset-3 col-md-2 offset-md-3">
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="firstNameNew">First name</label>
                                                <input id="firstNameNew" class="form-control" th:field="*{firstName}"
                                                       placeholder="First Name">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="lastNameNew">Name</label>
                                                <input id="lastNameNew" class="form-control" th:field="*{lastName}"
                                                       placeholder="Last Name">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="AgeNew">Age</label>
                                                <input type="number" id="AgeNew" class="form-control" th:field="*{age}"
                                                       placeholder="Age">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="emailNew">Email</label>
                                                <input id="emailNew" class="form-control" th:field="*{email}"
                                                       placeholder="Email">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="passwordNew">Password</label>
                                                <input type="password" id="passwordNew" class="form-control"
                                                       th:field="*{password}" placeholder="Password">
                                            </div>
                                            <div class="form-group text-center">
                                                <label class="font-weight-bold" for="rolesNew">Role</label> <br>
                                                <select id="rolesNew" class="form-select"
                                                        name="roles"
                                                        multiple size="2">
                                                    <option th:each="role: ${roles}"
                                                            th:text="${role.getShortName()}"
                                                            th:value="${role.getName()}">
                                                        <th:block th:text="${roles}">
                                                        </th:block>
                                                    </option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>User information-page</h1>
                    <h5 class="pt-2 pb-2">About user</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" th:utext="${user.id}">Id</th>
                            <td th:utext="${user.firstName}">First Name</td>
                            <td th:utext="${user.lastName}">Last Name</td>
                            <td th:utext="${user.age}">Age</td>
                            <td th:utext="${user.email}">Email</td>
                            <td>
                                <a th:each="role : ${user.getRoles()}">
                                    <a th:text=" ${role.getShortName()}">ROLE</a>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>