<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/user/{userId}(userId=${user.id})}" th:object="${user}">
    <label for="firstName">firstName:
        <input type="text" name="firstName" th:value="*{firstName}" id="firstName">
    </label>
    <br/>
    <label for="lastName">lastName:
        <input type="text" name="lastName" th:value="*{lastName}" id="lastName">
    </label>
    <br/>
    <label for="email">Username:
        <input type="text" name="email" th:value="*{email}" id="email">
    </label>
    <br/>
    <label for="password">Password: </label>
    <input type="password" name="password" th:field="*{password}" id="password"/>
    <br/>

    <h3>Chose Roles:</h3>
    <div th:each="role : ${roles}">
        <input th:field="*{roles}" type="checkbox"
               th:value="${role.getName()}"/>
        <span th:text="${role.getName()}">ROLE</span><br/>
    </div>
    <input type="submit" value="Update"/>
</form>


<form th:method="DELETE" th:action="@{/admin/user/{userId}(userId=${user.id})}">
    <input type="submit" value="Delete"/>
</form>

<div th:if="${#authorization.expression('isAuthenticated()')}"
     th:replace="footer :: logout">view footer</div>

</body>
</html>