<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div th:object="${user}">
    <a>ID: </a>
    <a th:text="${user.getId()}">id</a>
    <br>
    <a>Firstname: </a>
    <a th:text="${user.getFirstName()}">Firstname</a>
    <br>
    <a>Lastname: </a>
    <a th:text="${user.getLastName()}">Lastname</a>

    <br>
    <a>email: </a>
    <a th:text="${user.getEmail()}">email</a>
    <br>

    <div th:each="role : ${user.getRoles()}">
        <a>Role: </a>
        <a th:text="${role.getName()} ">role</a>
    </div>

</div>


<div th:if="${#authorization.expression('isAuthenticated()')}"
     th:replace="footer :: logout">view footer</div>

</body>
</html>